body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    display: table;
    margin: auto;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url('https://www.artsyhome.com/Products/966800845_0907151638__2_.jpg');
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
}

#page_title {
    color: rgb(35, 52, 77);
    text-align: center;
    letter-spacing: 2px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#gridContainer {
    margin: 1em 0;
    height: 600px;
    width: 600px;
    border-color: black;
    margin: 1em 0;
    padding: 0;
   
}

.gridBox {
    background: rgb(234, 243, 247);
    float: left;
    border: 1px solid;
    border-color:rgb(241, 246, 248);
    
}

.hoverGridBox {
    background-color: rgb(153, 180, 190);
}

.resetButton {
    padding: 8px 22px;
    color: rgb(168, 198, 206);
    background: rgb(35, 52, 77);
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.resizeButton {
    padding: 8px 22px;
    color: rgb(168, 198, 206);
    background: rgb(35, 52, 77);
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}