body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'VT323', monospace;
}

html {
    display: table;
    margin: auto;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(105, 140, 153);
    vertical-align: middle;
    display: table-cell;
}


#page-title {
    color: rgb(234, 243, 247);
    font-size: 20px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 16px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
   
}
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#gridContainer {
    margin: 1em 0;
    height: 600px;
    width: 600px;
    border-color: black;
    margin: 1em 0;
    padding: 0;
   
}

.gridBox {
    background: rgb(153, 180, 190);
    float: left;
    border: 1px solid;
    border-color:rgb(241, 246, 248);
    
}

.hoverGridBox {
    background-color: rgb(153, 180, 190);
}

.resetButton {
    padding: 8px 22px;
    color: rgb(234, 243, 247);
    background: rgb(153, 180, 190);
    box-shadow: 1px 1px 1px 1px rgb(108, 127, 133);
    border: 1px solid rgb(234, 243, 247);
    margin-right: 5px;
    font-family: 'VT323', monospace;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
}

.resetButton:hover {
    background-color: rgb(227, 237, 241);
    cursor: pointer;
}

.resizeButton {
    padding: 8px 22px;
    color: rgb(234, 243, 247);
    background: rgb(153, 180, 190);
    box-shadow: 1px 1px 1px 1px rgb(108, 127, 133);
    border: 1px solid rgb(234, 243, 247);;
    margin-left: 5px;
    font-family: 'VT323', monospace;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
}

.resizeButton:hover {
    background-color: rgb(227, 237, 241);
    cursor: pointer;
}

:focus {
    outline: none !important;
}